#grid {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  top: 10%;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
  margin: 15px;
}


#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

#grid li .hexagon .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0);
}

#grid li .hexagon:hover {
  transition: all 0.6s linear 0s;
  background: rgba(255,255,255,0.6);
}

#grid li * {
  visibility: visible;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%; 
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

/* ----------------------- */
/* .hexagon {
  position: absolute;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  transform: translate(-100%, -220%);
  top: 0;
  left: 0;
  margin: 86.60px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border-left: solid 10px #333333;
  border-right: solid 10px #333333;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 33.9340px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hexagon:before {
  top: -106.0660px;
  border-top: solid 14.1421px #333333;
  border-right: solid 14.1421px #333333;
}

.hexagon:after {
  bottom: -106.0660px;
  border-bottom: solid 14.1421px #333333;
  border-left: solid 14.1421px #333333;
}

/*cover up extra shadows
.hexagon span {
  display: block;
  position: absolute;
  top:5.773502691896256px;
  left: 0;
  width:280px;
  height:161.6581px;
  z-index: 2;
  background: inherit;
} */

/* ----------------------- */

/* body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
}
.hexagon {
  position: absolute;
  transform: translate(-100%, -220%);
  top: 0;
  left: 0;
  width: 100px;
  height: 57.74px;
  background-color: #64C7CC;
  margin: 28.87px 0;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #64C7CC;
}
.hexagon:after {
  top: 100%;
  width: 0;
  left: 0;
  border-top: 28.87px solid #64C7CC;
}
.hexagon:nth-child(2) {
  left: 110px;
}
.hexagon:nth-child(3) {
  left: -55px;
  top: 95px;
}
.hexagon:nth-child(4) {
  left: 55px;
  top: 95px;
}
.hexagon:nth-child(5) {
  left: 165px;
  top: 95px;
}
.hexagon:nth-child(6) {
  top: 190px;
}
.hexagon:nth-child(7) {
  left: 110px;
  top: 190px;
} */